# fly.toml app configuration file generated for backend-dry-butterfly-3514 on 2026-02-27T18:39:42-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-dry-butterfly-3514'
primary_region = 'gru'

[build]

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = ''
  internal_port = 8080
  ports = []

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
