app = 'backend-dry-butterfly-3514'
primary_region = 'gru'

[build]

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[http_service.concurrency]
  type = "connections"
  hard_limit = 100
  soft_limit = 80

[[vm]]
  memory = '1gb'
  cpus = 1